:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #626262;
  transition: background-color 0.195s ease-in-out;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #2C2C2C;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #0D0D0D;
  /* overflow: hidden; */
}

ul li {
  list-style: none;
}

a {
  color: #646cff;
  text-decoration: none;
  transition: color .195s linear, box-shadow .195s linear;
}

a:hover {
  color: #9298fa;
}